body {
  background-color: cadetblue;
}

h1 {
  text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    float: right;
}

h2 {
  font-size: larger;
  font-weight: bold;
}

h3 {
  font-size: medium;
  font-weight: bold;
}

.emphasize {
  color: darkred;
}

.jumbotron {
  background-color: cadetblue;
}

.card-body {
  width: 100%;
  border: solid black;
  border-width: 2px;
  float: left;
  margin: 0px;
  box-sizing: border-box;
  padding: 10px;
  height: auto;
  background-color: darkseagreen;
  border-radius: 3px;
  }  
